
$black: hsl(0, 0%, 2%);
$grey-darker:  #222;
$grey-dark:    #333;
$grey:         #777;
$grey-light:   #AEA79F;
$grey-lighter: #ddd;
$white: hsl(0, 0%, 98%);

$orange:       #E95420;
$yellow:       #EFB73E;
$green:        #38B44A;
$turquoise:    hsl(171, 100%, 41%);
$cyan:         hsl(204, 86%,  53%);
$blue:         hsl(217, 71%,  53%);
$purple:       #772953;
$red:          #DF382C;

$primary: hsl(350, 85%, 45%);

@import './../../node_modules/bulma/sass/utilities/initial-variables';
@import './../../node_modules/bulma/sass/utilities/functions.sass';
@import './../../node_modules/bulma/sass/utilities/derived-variables';
